body{
  height: 100vh;
}

.bg-myimage {
  background-image: url("https://www.beautiful-views.net/views/clouds-fantasy-sky-human.jpg");
  height: 100%;
}

.my-video {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}